.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: black;
  text-align: center;
  color: white;
}

.form-group {
  margin: 20px 0;
}

.home-img {
  margin-top: -20px;
  width: 100%;
  height: fit-content;
}
